@model TopCourse.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">تاپ کورس</a></li>
                <li class="breadcrumb-item active" aria-current="page">تغییر کلمه عبور</li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_sidebar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> تغییر کلمه عبور </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post">
                                @if (ViewBag.IsSuccess != null)
                                {
                                    <div class="alert alert-success">
                                        کلمه عبور شما با موفقیت تغییر یافت.
                                    </div>
                                }
                               
                            <div class="row">
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="user"><i class="zmdi zmdi-key"></i></span>
                                        <input type="password" class="form-control" asp-for="@Model.OldPassword" placeholder="کلمه عبور فعلی" aria-describedby="username">
                                    </div>
                                </div>

                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                        <input type="password" class="form-control" asp-for="@Model.Password" placeholder="کلمه عبور جدید" aria-describedby="email-address">
                                    </div>
                                </div>


                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                        <input type="password" class="form-control" asp-for="@Model.RePassword" placeholder="تکرار کلمه عبور جدید" aria-describedby="email-address">
                                    </div>
                                </div>
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <button class="btn btn-success btn-block"> تغییر کلمه عبور </button>
                                </div>
                            </div>

                            </form>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>