@page
@model TopCourse.Web.Pages.Admin.Users.CreateUserModel
@using TopCourse.DataLayer.Entities.User;
@{
    ViewData["Title"] = "افزودن کاربر";
    List<Role> Roles = ViewData["Roles"] as List<Role>;
}

<div class="row">
    <div class="col-md-11">
        <h3 class="page-header">افزودن کاربر جدید</h3>
    </div>
    <div class="col-md-1" style="margin-top:15px">
        <a class="page-header btn btn-primary btn-outline" style="margin-right:-8px" href="/Admin/Users/IndexUser">بازگشت</a>
    </div>
</div>


<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    اطلاعات کاربر
                </div>
                <div class="panel-body">
                    <h5>نام کاربری</h5>
                    <input type="text" asp-for="CreateUserViewModel.UserName" class="form-control" placeholder="نام کاربر جدید را وارد کنید">
                    <h5>ایمیل</h5>
                    <input type="email" asp-for="CreateUserViewModel.Email" class="form-control" placeholder="ایمیل را وارد کنید">
                    <h5>کلمه عبور</h5>
                    <input type="text" asp-for="CreateUserViewModel.Password" class="form-control" placeholder="کلمه عبور را وارد کنید">
                </div>
            </div>
            <p>
                <input type="submit" value="ذخیره اطلاعات" class="btn btn-success btn-block" />
            </p>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    تصویر پروفایل
                </div>
                <div class="panel-body">
                    <img class="thumbnail" id="imgAvatar" src="/UserAvatar/Default.jpg" />

                    <h5 style="margin:10px 0px 5px 0px">انتخاب تصویر</h5>
                    <input type="file" asp-for="CreateUserViewModel.UserAvatar" class="btn btn-info btn-block" id="imgInp" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    نقش های کاربر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->

                    @foreach (var item in Roles)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedRoles" value="@item.RoleId">@item.RoleTitle
                            </label>
                        </div>
                    }


                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                imgAvatar.src = URL.createObjectURL(file)
            }
        }
    </script>
}
