@page
@model TopCourse.Web.Pages.Admin.IndexModel
@{

}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">پنل مدیریت تاپ کورس</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-7">
        @*<p>با اساتید مجرب و کارآزموده در خودآموز تاپ کورس</p>*@
        <h4>نکاتی جهت استفاده از پنل مدیریت تاپ کورس:</h4>
        <ul>
            <li>جهت تعیین سطح دسترسی کاربر بایستی نقشی را به کاربر اختصاص دهید.</li>
            <li>دسترسی ها بایستی به روی نقش ها اعمال شوند.</li>
            <li>در پروسه حذف کاربران عملیات حذف به طور منطقی صورت گرفته و امکان بازیابی کاربر وجود دارد.</li>
            <li>جهت تعریف کد تخفیف حتما بازه زمانی استفاده از آن را مشخص کنید.</li>
            <li>هنگام بارگذاری ویدئوها در نامگذاری فایل دقت کنید زیرا سامانه فایل تکراری نمی پذیرد.</li>
            <li>از بارگذاری فایل های حجیم پرهیز کنید.</li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="~/images/logo2.png"  width="420px"/>
    </div>
</div>
<!-- /.row -->